
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import pixel font */

/* Use pixel font and classic teal background */
body {
    font-family: 'Press Start 2P', cursive, monospace;
    background: #008080; /* Classic Windows teal */
    scroll-behavior: smooth; /* smooth scroll for anchor links */
}
